In [1]:
import pandas as pd

In [2]:
frame_alr = pd.read_csv(r'20152018/wetter082018_mit_ausleihen_und_rueckgaben.csv')

df_alr = pd.DataFrame(frame_alr)

df_alr.head()

,hour,tempC,precipMM,humidity,windspeedKmph,weatherDesc2,year,month,day,ausleihen,rueckgaben
0,0.0,24,0.0,83,11,Overcast,2018,8,1,2,2
1,1.0,24,0.0,84,10,Overcast,2018,8,1,0,0
2,2.0,24,0.3,86,9,Light rain shower,2018,8,1,1,2
3,3.0,24,0.4,87,8,Light rain shower,2018,8,1,0,0
4,4.0,24,0.2,86,9,Light rain shower,2018,8,1,2,0

In [4]:
import holidays 
def getHoliday(year,month,day):
    us_holidays = holidays.US()
    return  1 if(f"{day}-{month}-{year}" in us_holidays) else 0

In [5]:
def getholi(data):
    #print(data)
    return getHoliday(data['year'],data['month'],data['day'])

In [6]:
import datetime
def getWeekday(year,month,day):    
    return  datetime.date(year,month,day).weekday()

In [7]:
def getweekday(data):
    #print(data)
    return getWeekday(data['year'],data['month'],data['day'])

In [8]:
def getworkday(weekday,holiday):
    return  1 if( weekday < 5 and holiday == 0) else 0

In [9]:
def getworkingday(data):
    #print(data)
    return getworkday(data['weekday'],data['holidays'])

In [10]:
df_alr['holidays'] = df_alr.apply(getholi,axis=1)

In [11]:
df_alr['weekday'] = df_alr.apply(getweekday,axis=1)

In [12]:
df_alr['workday'] = df_alr.apply(getworkingday,axis=1)

In [13]:
df_alr

,hour,tempC,precipMM,humidity,windspeedKmph,weatherDesc2,year,month,day,ausleihen,rueckgaben,holidays,weekday,workday
0,0.0,24,0.0,83,11,Overcast,2018,8,1,2,2,0,2,1
1,1.0,24,0.0,84,10,Overcast,2018,8,1,0,0,0,2,1
2,2.0,24,0.3,86,9,Light rain shower,2018,8,1,1,2,0,2,1
3,3.0,24,0.4,87,8,Light rain shower,2018,8,1,0,0,0,2,1
4,4.0,24,0.2,86,9,Light rain shower,2018,8,1,2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,19.0,23,0.2,68,19,Light rain shower,2018,8,31,15,14,0,4,1
740,20.0,22,0.0,69,19,Partly cloudy,2018,8,31,11,9,0,4,1
741,21.0,22,0.0,70,19,Partly cloudy,2018,8,31,7,8,0,4,1
742,22.0,22,0.0,71,18,Partly cloudy,2018,8,31,8,7,0,4,1
743,23.0,22,0.0,73,18,Cloudy,2018,8,31,2,5,0,4,1

In [15]:
df_alr.to_csv('20152018/wetter082018_mit_ausleihen_und_rueckgaben_mit_weekday.csv',index=False)