In [1]:
import pandas as pd

In [11]:
#Ausleihen mit Predictions laden
frame_ausleihen = pd.read_csv(r'20152018/ruckgabeformatzted.csv')

df_ausleihen = pd.DataFrame(frame_ausleihen)

df_ausleihen.head()

   year  month  day  hour  count  holidays  weekday  workday
0  2015      1    1     0      1         1        3        0
1  2015      1    1     2      1         1        3        0
2  2015      1    1     3      1         1        3        0
3  2015      1    1    10      2         1        3        0
4  2015      1    1    11      2         1        3        0

In [12]:
#Rueckgaben laden
frame_wetter = pd.read_csv(r'20152018/wetter082018_mit_ausleihen.csv')

df_wetter = pd.DataFrame(frame_wetter)

df_wetter.head()

,hour,tempC,precipMM,humidity,windspeedKmph,weatherDesc2,year,month,day,ausleihen
0,0.0,24,0.0,83,11,Overcast,2018,8,1,2
1,1.0,24,0.0,84,10,Overcast,2018,8,1,0
2,2.0,24,0.3,86,9,Light rain shower,2018,8,1,1
3,3.0,24,0.4,87,8,Light rain shower,2018,8,1,0
4,4.0,24,0.2,86,9,Light rain shower,2018,8,1,2

In [13]:
def getPrediction(year,month,day,hour):
    prediction = df_ausleihen[(df_ausleihen['year'] == year) & (df_ausleihen['month'] == month) & (df_ausleihen['day']==day) & (df_ausleihen['hour']==hour)]
    if prediction['count'].empty == False:
        return prediction['count'].values[0]
    else:
        return 0

In [14]:
def getPredict(data):
    return getPrediction(data['year'],data['month'],data['day'],data['hour'])

In [15]:
df_wetter['rueckgaben'] = df_wetter.apply(getPredict,axis=1)

In [16]:
df_wetter

,hour,tempC,precipMM,humidity,windspeedKmph,weatherDesc2,year,month,day,ausleihen,rueckgaben
0,0.0,24,0.0,83,11,Overcast,2018,8,1,2,2
1,1.0,24,0.0,84,10,Overcast,2018,8,1,0,0
2,2.0,24,0.3,86,9,Light rain shower,2018,8,1,1,2
3,3.0,24,0.4,87,8,Light rain shower,2018,8,1,0,0
4,4.0,24,0.2,86,9,Light rain shower,2018,8,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...
739,19.0,23,0.2,68,19,Light rain shower,2018,8,31,15,14
740,20.0,22,0.0,69,19,Partly cloudy,2018,8,31,11,9
741,21.0,22,0.0,70,19,Partly cloudy,2018,8,31,7,8
742,22.0,22,0.0,71,18,Partly cloudy,2018,8,31,8,7
743,23.0,22,0.0,73,18,Cloudy,2018,8,31,2,5

In [25]:
#Weil Zeile überflüssig war bzw. Namen geändert wurde
df_wetter = df_wetter.drop(['prediction'],axis=1)

In [17]:
df_wetter.to_csv('20152018/wetter082018_mit_ausleihen_und_rueckgaben.csv',index=False)