In [1]:
import pandas as pd

In [3]:
frame = pd.read_csv('20152018/weatherforWestStChambersSt.csv')

df = pd.DataFrame(frame)

In [28]:
df = pd.get_dummies(df, columns=['weekday', 'hour','weatherDesc2','month'] )

In [4]:
import holidays 
def getHoliday(year,month,day):
    us_holidays = holidays.US()
    return  1 if(f"{day}-{month}-{year}" in us_holidays) else 0

In [5]:
def getholi(data):
    #print(data)
    return getHoliday(data['year'],data['month'],data['day'])

In [6]:
import datetime
def getWeekday(year,month,day):    
    return  datetime.date(year,month,day).weekday()

In [7]:
def getweekday(data):
    #print(data)
    return getWeekday(data['year'],data['month'],data['day'])

In [8]:
def getworkday(weekday,holiday):
    return  1 if( weekday < 5 and holiday == 0) else 0

In [9]:
def getworkingday(data):
    #print(data)
    return getworkday(data['weekday'],data['holidays'])

In [13]:
df['holidays'] = df.apply(getholi,axis=1)

In [14]:
df['weekday'] = df.apply(getweekday,axis=1)

In [15]:
df['workday'] = df.apply(getworkingday,axis=1)

In [22]:
#Ausleihen mit Predictions laden
frame_ausleihen = pd.read_csv(r'20152018/ausleiheformatzted.csv')

df_ausleihen = pd.DataFrame(frame_ausleihen)

df_ausleihen.head()

   year  month  day  hour  count  holidays  weekday  workday
0  2015      1    1     2      1         1        3        0
1  2015      1    1    10      3         1        3        0
2  2015      1    1    11      3         1        3        0
3  2015      1    1    12      2         1        3        0
4  2015      1    1    13      5         1        3        0

In [23]:
def getPrediction(year,month,day,hour):
    prediction = df_ausleihen[(df_ausleihen['year'] == year) & (df_ausleihen['month'] == month) & (df_ausleihen['day']==day) & (df_ausleihen['hour']==hour)]
    if prediction['count'].empty == False:
        return prediction['count'].values[0]
    else:
        return 0

In [24]:
def getPredict(data):
    return getPrediction(data['year'],data['month'],data['day'],data['hour'])

In [25]:
df['ausleihen'] = df.apply(getPredict,axis=1)

In [29]:
df.head()

,tempC,precipMM,humidity,windspeedKmph,year,day,holidays,workday,rueckgaben,ausleihen,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,-3,0.0,52,15,2015,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,-4,0.0,51,18,2015,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-4,0.0,50,21,2015,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,-4,0.0,49,24,2015,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,-4,0.0,47,20,2015,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df.to_csv('20152018/wetter_mit_ausleihen_rueckgaben_ohne_dummy_alles.csv',index=False)

In [31]:
#Filtern nach Jahr und Monat
df = df[(df['year']== 2018) & (df['month_8'] == 1)]

In [32]:
df

,tempC,precipMM,humidity,windspeedKmph,year,day,holidays,workday,rueckgaben,ausleihen,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
31392,24,0.0,83,11,2018,1,0,1,2,2,...,0,0,0,0,0,1,0,0,0,0
31393,24,0.0,84,10,2018,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
31394,24,0.3,86,9,2018,1,0,1,2,1,...,0,0,0,0,0,1,0,0,0,0
31395,24,0.4,87,8,2018,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
31396,24,0.2,86,9,2018,1,0,1,0,2,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32131,23,0.2,68,19,2018,31,0,1,14,15,...,0,0,0,0,0,1,0,0,0,0
32132,22,0.0,69,19,2018,31,0,1,9,11,...,0,0,0,0,0,1,0,0,0,0
32133,22,0.0,70,19,2018,31,0,1,8,7,...,0,0,0,0,0,1,0,0,0,0
32134,22,0.0,71,18,2018,31,0,1,7,8,...,0,0,0,0,0,1,0,0,0,0
32135,22,0.0,73,18,2018,31,0,1,5,2,...,0,0,0,0,0,1,0,0,0,0

In [33]:
df.to_csv('20152018/wetter_mit_ausleihen_rueckgaben_mit_dummy_082018.csv',index=False)